html::-webkit-scrollbar {
    width: 12px;
    background-color: #555555;
  }
  
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #2a3c58;
  }
  
  html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555555;
  }

body {
    background-image: linear-gradient(#7eaffc, #2a3c58);
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Exo', sans-serif;
    padding-top: 25px;
    width: auto;
    margin: auto;
}

@media screen and (max-width: 520px) {
    .links > .linky {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}

p {
    font-size: 1rem;
    text-align: center;  
}

#header {
    background-color: rgba(0, 255, 255, 0.199);
    backdrop-filter: blur(10px);
    margin: auto;
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
    transition: top 0.2s;
    text-align: center;
}

#header a {
    font-size: 1.625rem;
    display: block;
    color: #f2f2f2;
}

.pfp {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.name {
    text-align: center;
    font-size: 1.875rem;
    overflow-wrap: break-word;
    display: block;
}


.links {
    padding-bottom: 100px;
}

.linky {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid rgb(234, 234, 255);
    font-size: 1.25rem;
    padding: 12px;
    width: 450px;
    border-radius: 25px;
    display: block;
}

a {
    color: rgb(40, 49, 94);
    background-color: lightslategray;
    text-decoration: none;
}

a:hover {
    color: purple;
    background-color: rgb(115, 193, 245);
}

.share {
    position: absolute;
    right: 0;
    margin-right: 45px;
}

@media screen and (max-width: 455px) {
    .share {
        display: none;
    }
    
}

.button {
    border-radius: 20%;
    cursor: pointer;
}

button {
    border-radius: 20%;
    cursor: pointer;
}

.modal-title {
    margin-top: .5rem;
    line-height: 0%;
    text-align: center;
    font-size: 1.5rem;
}

modal.subtext {
    font-size: .8rem;
    text-align: center;
}

li {
    padding-top: 1.5rem;
    margin: 0 auto;
    display: table;
}

.modal {
    color-scheme: dark;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right:0;
    top: 25%;
    border: 0.125rem solid darkslategrey;
 }