body {
    background-image: linear-gradient(#7eaffc, #2a3c58);
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Exo', sans-serif;
    padding-top: 25px;
    width: auto;
    margin: auto;
}

@media screen and (max-width: 520px) {
    .links > .linky {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}

p {
    margin-top: 0;
    font-size: 20px;
}

#header {
    background-color: rgba(0, 255, 255, 0.199);
    backdrop-filter: blur(10px);
    margin: auto;
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
    transition: top 0.2s;
    text-align: center;
}

#header a {
    font-size: 26px;
    display: block;
    color: #f2f2f2;
}

.pfp {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.name {
    text-align: center;
    font-size: 30px;
    overflow-wrap: break-word;
    display: block;
}

.links {
    padding-bottom: 100px;
}

.linky {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid rgb(234, 234, 255);
    font-size: 20px;
    padding: 12px;
    width: 450px;
    border-radius: 25px;
    display: block;
}

a {
    color: rgb(40, 49, 94);
    background-color: lightslategray;
    text-decoration: none;
}

a:hover {
    color: purple;
    background-color: rgb(115, 193, 245);
}